.form .rojo{
  color: red;
}
/* INICIO RESET */
header {
  width: 100%;
}
*{padding: 0;margin: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
}
li{
  list-style: none;
}
html{font-size: 14px;}
a{text-decoration: none;
  display: block;}

/* FIN RESET */

/* INICIO HEADER */

.desktop{
  display: none;
}
.menu .lupa a {
 display: none;

}

.menu {
  height: 6vh;
  background-color: #27D6A3;
  display: flex;
  flex-flow: row nowrap;
}
.menu .paty{
flex-grow: 1;
padding: 10px 10px;
}
.menu .paty a {
  color: white;
 font-family: 'PT Sans', sans-serif;
  margin-left: 15px;
  font-size: 1.5rem;
  display: inline-block;
}

.menu .lupa{
flex-grow: 1;
position: relative;
padding: 10px 0;

}
.menu .lupa img {
  position:absolute;
  right: 10px;}
  .menu .lupa input {
display: none;}
/* FIN HEADER */

/* INICIO MENU */
.nav {
  height: 9vh;
  display: flex;
  align-items: center;

  flex-flow: row nowrap;
    background-color: #27D6A3;
}
.nav .opcion {
    flex-grow: 1;


}
.nav .opcion a{
   color: white;
   font-size: 1.2rem;
   text-align: center;
   margin-top: 2px;
font-family: 'PT Sans', sans-serif;
}
.nav .opcion a:hover{
  margin-top: 10px;
 border-bottom: 5px solid white;
}
.nav .opcion img {
  width: 26px;
  margin: 0 45%;

}
/* FIN MENU */
/* INICIO PRODUCTOS */
.productos {

   display: flex;
   flex-flow: row wrap;
   width: 100%;


   justify-content:center;


}
h4{
  margin: 5px;
}
.producto {
  flex-basis: 48%;
  margin: 5px 3px;
  height: 28vh;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.2);

}
.producto .foto img {
  width: 100%;
  height: 18vh;
}
.producto .descripcion .titu{
   font-size: 1.3rem;
font-family: 'Quicksand', sans-serif;
   font-weight: 300;
}
.producto .descripcion p {
  font-size: 0.9rem;

font-family: 'Quicksand', sans-serif;
}

.vermas{
  background-color: #27D6A3;
  padding: 5px;

  width: 80%;
  margin: 20px 10%;
  text-align: center;
}
.vermas a {
    color: white;
    font-family: 'PT Sans', sans-serif;
}

/* FIN PRODUCTOS */


.quien {


  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 26vh;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image:url(../img/ddd.jpg);
  overflow: hidden;
}
.quien .lado1 {
  flex-basis:  25%;
  padding: 10px;
  height: 25vh;
  background-color: rgba(204, 204, 204, 0.52);
}
.quien .lado1 h2{
    font-size: 1.5rem;
font-family: 'Pontano Sans', sans-serif;


}
.quien  p{
  font-size: 3.1rem;
  font-family: 'Cabin', sans-serif;
  background-color:rgba(204, 204, 204, 0.72);

    font-size: 1.7rem;
    width: 90%;

}
.quien  h2{
    font-size: 2rem;
  font-family: 'Cabin', sans-serif;

}
.quien .lado2 {
  flex-basis: 80%;
  overflow: hidden;


  position: relative;
}
.quien .lado2 p {
  font-size: 1rem;  font-family: 'Cabin', sans-serif;
  background-color:rgba(204, 204, 204, 0.72);
}


.quien .lado1 p {
  margin-top: 20px;
}

.quien h2 {
  margin: 30px 20px;
  font-size: 3rem;
  width: 14%;
}


  footer {
    background-color: #138f6b;
   justify-content: center;
   bottom: 0;
    margin-top: 200px;
    border: 15px;

    display: flex;
    padding: 15px;
    flex-flow: row wrap;
    position: relative;
  }


  footer .nave {
    display: flex;    flex-flow: row wrap;width: 100%;
  }
 footer .nave li {
   flex-basis: 100%;
   margin:5px;
   font-family: 'Exo 2', sans-serif;
 }
 footer .nave li a {
  font-size: 1rem;
  text-align: center;
  color: black;
  font-weight: bolder;
  font-family: 'Exo 2', sans-serif;
 }
 .centrado {

 }
 footer .centrado img{
   width:30px;
   height: 30px;

 }
.centrado .social{
  display: inline-block;
  margin: 0 5px;
}






   .form {
     margin-top: 5px;
     padding: 20px 20px;
     color:#8c8484;
   }

 .form .publicidad {
   width: 30%;
   height: 30px;
   display: inline-block;
 }


 .form  fieldset {
     border: none;
       box-shadow: 4px 4px 25px 0px rgba(0,0,0,0.62);
     padding: 10px;

     background-color: #394b5c;
     text-align: center;
   }

 label{
   color: white;
 }
   .form .fa form{
     width: 30%;
     margin: 0 35%;

   }
 .register-p {
   padding:3px;
 }

 legend{
   text-align: center;
   padding: 3px;
   font-size: 2rem;
   box-shadow: 0px -5px 25px -7px rgba(133,124,133,1);
   border-radius: 5px;
   background-color: #27D6A3;
   margin-bottom: 10px;
   font-family: 'Gothic A1', sans-serif;
   color: black;
 }


   .form .registro form{
     width: 70%;

     margin: 0 15%;
   }


 .login p {
   font-size: 1.3rem;
 }
 .form a {
   color:white;

 }


 .form button {
 	background-color:#27D6A3;;
 	border-radius:5px;

 	color:#black;
 	font-family: 'Tajawal', sans-serif;
 	padding:8px 19px;

 }

 .form button:active {
 	position:relative;
 	top:1px;
   border: none;
 }
 .form button:focus {
   outline: 0;
 }
 .button-box {
   text-align: center;
 }
   input:focus {
     outline-color: none;;
   }
    .form a:visited {
     color: black;
   }
   .form a:hover {
     color: #BA3F1D;
   }
   input[type=text], select, input[type=email], input[type=password], input[type=tel] {
     width: 100%;
     box-shadow: 9px 10px 21px -6px rgba(0,0,0,0.74);
     border-radius: 5px;
     box-sizing: content-box;
     padding-top: 10px;
     padding-bottom: 10px;
     border: none;
     border-radius: 5px;
     color: black;
     text-overflow: clip;
     background: white;
     box-shadow: 5px 4px 2px 0 rgba(0,0,0,0.2) inset;
     transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
   }
   input[type=checkbox] {
     top: 2px;
     left: 0;
     height: 20px;
     width: 20px;
     background-color: #555454;
     border: 0px solid #000000;
   }
   input[type=checkbox]:checked {
     background-color: #e9fd00;
 }
   input[type=radio] {
     top: 0px;
     left: 0;
     height: 20px;
     width: 20px;
     background: #e6e6e6;
     border: 0px solid #000000;
   }
   input[type=radio]:checked {
     background-color: : #e9fd00;
   }
   input[type=radio]:hover {
     background: #cccccc;
   }
   input[type=option]:checked {
     background-color: #e9fd00;
   }


   .button-box-login {
     text-align: center;
   }

 /* FIN DE FORMULARIO REGISTRO LOGIN HTML  */


 /*Inicio eleccion de registro*/
 .selection {
   background-color:#394b5c;
   border-color:rgb(140, 132, 132)none 0px;
   box-shadow:rgb(133, 124, 133) 0px 0px 26px -5px;
   color:rgb(140, 132, 132);
   height:200px;
   padding:10px;
   text-align:center;
   margin-top: 50px;
   margin-bottom: 50px;
   width: 300px;
   margin-left: auto;
   margin-right: auto;
 }
 .selection li {

 	background-color:#27D6A3;
 	border-radius:5px;

 	color:#e3c1e3;
 	font-family: 'Tajawal', sans-serif;
 	padding:8px 19px;

   margin-left: auto;
   margin-right: auto;
   width: 250px;
 }
 /* FAQ */
 .caja {
   margin: 10%;
   width: 80%;
   padding: 15px;
   border: 1px solid black ;

 }
 .caja li{
   margin-bottom:40px;

 }
 .caja li ul li {
   margin:15px 10px;
 }
 .caja li h2 {color:  black;  text-decoration: underline;text-align: left;font-size: 1.8rem;
 margin-bottom: 10px;}
 .caja li p {
   color: black;font-size: 1.5rem;
   margin: 0 40px;font-family: 'Dosis', sans-serif;}

/* TEXTO ERROR */

.error{
  color: red;
  text-align: left;
}
.error p{
  display: block;
}

@media (orientation:LANDSCAPE) {
 .nav{
   height: 20vh;
 }
.producto {height: 40vh;}

.quien{
  height: 25vh;
}
.quien .lado1 {
  height: 25vh;
}



@media (min-width:850px){

.quien .lado2 {
  padding: 50px;
}
.quien .lado2 p{
  font-size: 1.5rem;
}

.register-p {
width: 50%;
text-align: left;
}
.button-box {
   width: 50%;padding: 8px;
 }
 .register-p {
   width: 50%;
   text-align: left;
 }
 .selection {
   border: none;
   padding: 10px;
   box-shadow: 0px 0px 26px -5px rgba(133,124,133,1);

   text-align: center;
 }



.menu .paty img {
  display: none;
}
.menu .paty a{
    display: none;
}

.nav {height: 15vh;}
.nav .opcion img {
  display: none;
}
.menu {
  background-color: #14664e;
}
.menu .lupa  {
  padding-left: 60%;
  padding-bottom: 5px;
}
.menu .lupa a {
 display: inline-block;
 color: white;
 font-size: 1rem;
 margin: 1px;
 padding: 5px;
}
.menu .lupa a:hover {
  border-bottom: 1px solid white;}
.seva{
  display: none;
}
.desktop{
  display: inline-block;

}
footer .nave li {
    flex-grow: 1;
  flex-basis: 0;}
.producto .foto img {
  height: 25vh;
}
.nav .opcion a{

   font-size: 1.4rem;}
   .producto {
     flex-basis: 30%;
   }
   .producto:hover {
      margin-top: 10px;

   }
   .menu .lupa input {
 display: inline-block;
 width: 100px;}
