


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  }
html{ font-size: 14px;
}
  li {
    list-style-type: none;
  }
  a:focus{
    color:rgb(68, 67, 67);
  }

 a:visited {
   color: black;
 }

  a {
    display: block;
    text-decoration: none
  }
body{ background-color: #D9CFC1;
}


  /* FIN DE RESET Y COSAS PREDETERMINADAS  */

/* MENU DESKTOP */
.menu {
  background-color:#80A1C1;min-width: 464px;
  display: none;
}
.menu li a {
  font-family: font-family: 'Roboto Mono', monospace;
  font-size: 1.3rem;
  text-align: center;


}
.menu li {
  display: inline-block;
  width: 24.7%;
}
.menu li a:hover {
  background-color:#6787aa;
}

/* FIN DESKTOP*/

/* FORMULARIO REGISTRO LOGIN HTML  */

  .form {
    margin-top: 5px;
    min-width: 400px;
    padding: 20px 20px;
    color:#8c8484;
  }

.form .publicidad {
  width: 30%;
  height: 30px;
  display: inline-block;
}


.form  fieldset {
    border: none;
      box-shadow: 4px 4px 25px 0px rgba(0,0,0,0.62);
    padding: 10px;

    background-color: #394b5c;
    text-align: center;
  }

label{
  color: white;
}
  .form .fa form{
    width: 30%;
    margin: 0 35%;
    min-width: 228px;
  }
.register-p {
  padding:3px;
}

legend{
  text-align: center;
  padding: 3px;
  font-size: 2rem;
  box-shadow: 0px -5px 25px -7px rgba(133,124,133,1);
  border-radius: 5px;
  background-color: #BA3F1D;
  margin-bottom: 10px;
  font-family: 'Anton', sans-serif;
  color: rgb(193, 193, 193);
}


  .form .registro form{
    width: 70%;

    margin: 0 15%;
  }


.login p {
  font-size: 1.3rem;
}
.form a {
  color:black;
}


.form button {
	background-color:#BA3F1D;
	border-radius:5px;

	color:#e3c1e3;
	font-family: 'Tajawal', sans-serif;
	padding:8px 19px;

}

.form button:active {
	position:relative;
	top:1px;
  border: none;
}
.form button:focus {
  outline: 0;
}
.button-box {
  text-align: center;
}
  input:focus {
    outline-color: none;;
  }
   .form a:visited {
    color: black;
  }
  .form a:hover {
    color: #BA3F1D;
  }
  input[type=text], select, input[type=email], input[type=password] {
    width: 100%;
    box-shadow: 9px 10px 21px -6px rgba(0,0,0,0.74);
    border-radius: 5px;
    box-sizing: content-box;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 5px;
    color: black;
    text-overflow: clip;
    background: white;
    box-shadow: 5px 4px 2px 0 rgba(0,0,0,0.2) inset;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }
  input[type=checkbox] {
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #555454;
    border: 0px solid #000000;
  }
  input[type=checkbox]:checked {
    background-color: #e9fd00;
}
  input[type=radio] {
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 0px solid #000000;
  }
  input[type=radio]:checked {
    background-color: : #e9fd00;
  }
  input[type=radio]:hover {
    background: #cccccc;
  }
  input[type=option]:checked {
    background-color: #e9fd00;
  }


  .button-box-login {
    text-align: center;
  }

/* FIN DE FORMULARIO REGISTRO LOGIN HTML  */


/*Inicio eleccion de registro*/
.selection {
  background-color:#394b5c;
  border-color:rgb(140, 132, 132)none 0px;
  box-shadow:rgb(133, 124, 133) 0px 0px 26px -5px;
  color:rgb(140, 132, 132);
  height:200px;
  padding:10px;
  text-align:center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.selection li {

	background-color:#BA3F1D;;
	border-radius:5px;

	color:#e3c1e3;
	font-family: 'Tajawal', sans-serif;
	padding:8px 19px;

  margin-left: auto;
  margin-right: auto;
  width: 250px;
  box-shadow: 0px 0px 0px 2px rgba(221,221,221,1);
}

/*Fin de elección de registro*/

/* HEADERR */

.capa {
  min-width: 385px;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  height: 35vh;
}
.main-header{
  z-index: 1;
  overflow: hidden;
  height: 35vh;
  min-width: 464px;
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.main-header .logo {
  z-index: 1;
  align-self: flex-start;
  flex-basis:50%;
  order: 1;
}
.main-header img {
  width: 60px;
  height: 40px;
}
.main-header .busqueda {
  border-radius: 50%;
  width: 100%;
  order: 3;
}
.main-header form {
  width: 50%;
}
.main-header input {
  border-radius:10px;
  height: 4vh;
  width: 100%;
  margin-left: 50%;
  padding: 2px;
  background-color: rgb(217, 217, 217);
  font-size: 1rem;
}
.main-header .barra {
   width: 100%;
}
.main-header nav {
  order: 2;
  flex-basis:50%;
  display: flex;
  flex-flow: row nowrap;
}
.main-header nav ul {
  display: none;
}

.main-header nav img {
  margin-left: 70%;
  width: 35px;
  height: 30px;
}
/* FIN DE HEADER */
.trabajo{
  padding: 5px;
  margin-top: 10px;
  flex-basis: 100%;
  background-color:  rgba(254, 32, 0, 0.79);
}


.trabajo h2 {
  color:black;
  font-family: font-family: 'Roboto Mono', monospace;
}

/* DESTACADOS  */
.destacado {
  min-width: 464px;
  display: flex;
  flex-flow: row wrap;
}

.destacado .noticia {
  margin-top: 20px;
  flex-basis: 100%;
  height: 25vh;
  width: 100%;
  background-color: grey;
  overflow:hidden;
  position: relative;
}

.destacado .noticia img {
  width: 100%;
  height: 25vh;
  border-spacing: 0;
  z-index: 1;
}

.destacado .noticia .abaj:hover {
  height: 9vh;
  background-color: rgba(187, 188, 190,0.8);
}
.destacado .noticia .abaj {
  width: 100%;
  height: 8vh;
  padding: 3px;
  position: absolute;
  bottom: 0;
  background-color: rgba(187, 188, 190,0.5);
  z-index: 2;
}

.destacado .noticia .abaj h2 {
  font-size: 1.3rem;
  color: rgb(17, 16, 15);
  font-weight: lighter;
  text-align: center;
  margin-top: 5px;
  font-family: 'Exo 2', sans-serif;
}

.sexto {
  display: none;
}

/* FIN DESTACADO */

/* CARRUSEL */
.quien {


  min-width: 464px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 26vh;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image:url(../img/fondo1.png);
  overflow: hidden;
}
.quien .lado1 {
  flex-basis:  25%;
  padding: 10px;
  height: 25vh;
  background-color: rgba(173, 176, 174, 0.37);
}
.quien .lado1 h2{
    font-size: 1.5rem;
    font-family: "Open Sans",sans-serif;


}
.quien  p{
  font-size: 3.1rem;
  font-family: 'Cabin', sans-serif;
  background-color:rgba(204, 204, 204, 0.72);
    margin: 40px 20px;
    font-size: 1.7rem;
    width: 90%;

}
.quien  h2{
    font-size: 2rem;
  font-family: 'Cabin', sans-serif;

}
.quien .lado2 {
  flex-basis: 80%;
  overflow: hidden;


  position: relative;
}
.quien .lado2 p {
  font-size: 1rem;  font-family: 'Cabin', sans-serif;
  background-color:rgba(204, 204, 204, 0.72);
}


.quien .lado1 p {
  margin-top: 20px;
}

.quien h2 {
  margin: 30px 20px;
  font-size: 3rem;
  width: 14%;
}

/* FIN CARRUSEL */

footer ul img {
  width:40px;
  height: 40px;
}
  footer {
    background-color: #80A1C1;
    min-width: 464px;
    margin-top: 20px;
    border: 15px;
    background-color:
    display: flex;
    padding: 15px;
    flex-flow: row wrap;
    position: relative;
  }
  footer ul {
    display: flex;
  }
 footer ul li {
   flex-grow: 1;
   margin:10px;
   font-family: 'Exo 2', sans-serif;
 }
 footer ul li a {
  font-size: 1rem;
  color: black;
  font-weight: bolder;
  font-family: 'Exo 2', sans-serif;
 }
/* FIN FOOTER HTML */

/* FAQ */
.caja {
  margin: 10%;
  width: 80%;
  padding: 15px;
  background-color:rgba(103, 135, 170, 0.6);
  min-width: 375px;
}
.caja li{
  margin-bottom:40px;
}
.caja li ul li {
  margin:15px 10px;
}
.caja li h2 {color: #BA3F1D; text-align: center;font-size: 1.8rem;
margin-bottom: 10px;}
.caja li p {
  color: black;font-size: 1.5rem;
  margin: 0 40px;
}



/* FIN FAQ HTML */

/* FIN DE  DISENO MOBILE */


@media (orientation:LANDSCAPE) {
  .main-header input {
    height: 7vh;
}

.quien{
  height: 25vh;
}
.quien .lado1 {
  height: 25vh;
}
.main-header nav img {
  margin-left: 80%;
}
.destacado .noticia {
  height: 40vh;
}

  .destacado .noticia img{
    height: 40vh;
    border-radius: 20px;
}
}

/* FIN ORIENTACION HORIZONTAL */

  @media (min-width:860px) {
.quien .lado1 h2 {
  font-size: 3rem;
}
    .quien .lado2 p {
      font-size: 1.5rem;}

    .destacado {
      padding: 20px;
    }
   .destacado .noticia {
     flex-basis: 45%;
     margin: 15px 15px ;
     border-radius: 20px;
   }
   .sexto{
     display:block;
   }
   .capa{
     padding: 20px;
   }
   .main-header .busqueda{
     width: 100%;
     margin-left: 0;
   }
   .main-header .barra {
     width: 100%;
   }
   .main-header form {
     width: 50%
   }
   .main-header input {
     height: 4vh;
     margin-left: 50%;
     width: 100%;
   }
   .main-header .logo img{
     width: 110px;
     height: 70px;
   }
   .main-header nav img {
     margin-left: 85%;
     width: 65px;
     height: 65px
   }
     .button-box {
     padding: 8px;
     width: 50%;
   }
   .register-p {
     width: 50%;
     text-align: left;
   }
}


/* FIN DE RESPONSIVE TABLET */


@media  (min-width:1050px) {
  .menu {
    display: block;
  }

  .main-header nav img{
      display:none;
      flex-basis:0;
    }
  .main-header{
    height: 300px;
  }
  .capa {
    height: 300px;
  }
  .destacado .noticia {
    flex-basis: 30%;
  }
  .main-header nav {
    position: relative;
  }
  .main-header nav ul {
    display: block;
    margin-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .main-header nav ul li {
    display: inline-block;margin-left: 40px;
  }
  .main-header nav ul li a{
    color:rgb(68, 67, 67);
  }
  .main-header nav ul li a :hover{
    text-decoration: underline;
 }
 .button-box {
   width: 50%;
 }
 .register-p {
   width: 50%;
   text-align: left;
 }
 .selection {
   border: none;
   padding: 10px;
   box-shadow: 0px 0px 26px -5px rgba(133,124,133,1);

   text-align: center;
 }
}/* FIN RESPONSIVE DESKTOP */
